@{
    ViewBag.Title = "产品管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using YCF.CRM.Model.Entity
@using YCF.CRM.DAO.Abstract
@using YCF.CRM.DAO.Concrete
@using YCF.CRM.DAO.Utilities
<style type="text/css">
    #map_canvas
    {
        height: 350px;
        width: 100%;
        border: 1px solid #ccc;
    }
    #divScenic .select2-container
    {
        margin-bottom: 10px;
    }
    .btnFileUpdate, .btnFileDelete
    {
        padding: 3px 10px;
        margin-left: 5px;
    }
    .widget-content > div
    {
        border: none !important;
    }
</style>
@model YCF.CRM.Model.Admin.Entity.Resort
@*<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-error alert-block" style="margin-bottom: 0;">
            <button type="button" class="close" data-dismiss="alert">
                ×</button>
            <strong>警告! </strong> 多图片上传功能在火狐（firefox）浏览器上有问题，请使用 Chrome 浏览器操作，待Bug修复
        </div>
    </div>
</div>*@
<div class="widget-box">
    <div class="widget-title">
        <ul class="nav nav-tabs">
            <li class=""><a data-toggle="tab" href="#tab1">酒店信息</a></li>
            <li id="tab2li" class=""><a data-toggle="tab" href="#tab2">酒店文案管理</a></li>
            <li class=""><a data-toggle="tab" href="#tab3">酒店图片管理</a></li>
            <li class="active"><a data-toggle="tab" href="#tab4">房型信息</a></li>
        </ul>
    </div>
    <div class="widget-content tab-content">
        <div class="alert alert-info" style="margin-bottom: 0;">
            <strong>当前酒店：</strong> @Model.ResortName
        </div>
        <div id="tab1" class="tab-pane">
            @using (Html.BeginForm("UpdateResort", "Resort", FormMethod.Post, new { @novalidate = "novalidate", @class = "form-horizontal", @name = "basic_validate", @id = "basic_validate" }))
            {
                @Html.HiddenFor(m => m.ResortId, new { @id = "res" })
                <input type="hidden" name="scenicIds" id="scenicIds" />
                <input type="hidden" name="themeIds" id="themeIds" />
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span6">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-align-justify"></i></span>
                                <h5>
                                    酒店基本信息</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    <label class="control-label">
                                        酒店名称</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ResortName, new { type = "text", @class = "required", @id = "txtResortName" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        联系方式</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ProviderPhone, new { type = "text", @id = "txtProviderPhone" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        座机电话</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Telephone, new { type = "text", @id = "txtTelPhone" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        邮箱地址</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Email, new { type = "text", @id = "txtEmail" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        传真号码</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.Fax, new { type = "text", @id = "txtFax" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        门市价格</label>
                                    <div class="controls">
                                        @*@Html.TextBoxFor(m => m.Tags, new { type = "text", @id = "txtTags" })*@
                                        @Html.TextBoxFor(m => m.ResortInfo.RetailPrice, new { type = "text", @class = "number", @id = "txtRetailPrice" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        酒店销量</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SaledCount, new { type = "text", @class = "number", @id = "txtSaledCount" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-paste"></i></span>
                                <h5>
                                    酒店预设信息</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    <label class="control-label">
                                        开始时间</label>
                                    <div class="controls">
                                        @{
                                   var startDate = "";
                                   var endDate = "";
                                   var saleStartDate = "";
                                   var saleEndDate = "";
                                   if (Model.StartDate != null)
                                   {
                                       startDate = Model.StartDate.Value.ToString("yyyy-MM-dd");
                                   }
                                   if (Model.EndDate != null)
                                   {
                                       endDate = Model.EndDate.Value.ToString("yyyy-MM-dd");
                                   }
                                   if (Model.SaleStartDate != null)
                                   {
                                       saleStartDate = Model.SaleStartDate.Value.ToString("yyyy-MM-dd");
                                   }
                                   if (Model.SaleEndDate != null)
                                   {
                                       saleEndDate = Model.SaleEndDate.Value.ToString("yyyy-MM-dd");
                                   }
                                        }
                                        <div class="input-append date" data-date="@startDate" id="startDate">
                                            <input name="StartDate"  id="start" type="text" value="@startDate" placeholder="开始时间" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        结束时间</label>
                                    <div class="controls">
                                        <div class="input-append date" data-date="@endDate" id="endDate">
                                            <input name="EndDate" id="end" type="text" value="@endDate" placeholder="结束时间" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        首页开始时间</label>
                                    <div class="controls">
                                        <div class="input-append date" data-date="@saleStartDate" id="saleStartDate">
                                            <input name="SaleStartDate" id="saleStart" type="text" value="@saleStartDate" placeholder="首页开始时间" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        首页结束时间</label>
                                    <div class="controls">
                                        <div class="input-append date" data-date="@saleEndDate" id="saleEndDate">
                                            <input name="SaleEndDate" id="saleEnd" type="text" value="@saleEndDate" placeholder="首页结束时间" />
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        预设信息</label>
                                    <div class="controls">
                                        <span style="line-height: 28px; vertical-align: middle;">
                                            @{ var isActive = Model.IsActive ? "checked='checked'" : ""; }
                                            <input type="checkbox" @isActive value="@Model.IsActive" name="IsActive" />激活&nbsp;&nbsp;
                                            @{ var isListInHoliday = Model.ListInHolidayTheme ? "checked='checked'" : ""; }
                                            <input type="checkbox" @isListInHoliday value="@Model.ListInHolidayTheme" name="ListInHolidayTheme" />在分类页显示&nbsp;&nbsp;
                                            @{ var isAllowCoupon = Model.IsAllowCoupon ? "checked='checked'" : ""; }
                                            <input type="checkbox" @isAllowCoupon value="@Model.IsAllowCoupon" name="IsAllowCoupon" />可用优惠券
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        首页排序</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.SortOrder, new { type = "text", @class = "number", @id = "txtSortOrder" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        浏览量</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ReadCount, new { type = "text", @class = "number", @id = "txtReadCount" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon" style="cursor: pointer;" title="点击编辑"><i class="icon-map-marker">
                                </i>&nbsp;酒店位置信息</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a id="add-event" data-toggle="modal" href="#modal-container-449303" class="btn btn-inverse btn-mini">
                                        点击编辑区域信息</a> <span>&nbsp;&nbsp; </span>
                                    @{ var areaName = Model.Area == null ? "未选择大区" : Model.Area.Name;}
                                    <span id="spanAreaName">@areaName</span> <span>，</span>
                                    @{ var provinceName = Model.Province == null ? "未选择省份" : Model.Province.ProvinceName;}
                                    <span id="spanProvinceName">@provinceName</span> <span>，</span>
                                    @{
                                                           var cityName = Model.City == null ? "未选择城市" : Model.City.CityName;
                                                           var cityCode = Model.City == null ? "" : Model.City.CityCode;
                                    }
                                    <span id="spanCityName">@cityName</span> <span>，</span>
                                    @{ var districtName = Model.District == null ? "未选择区域" : Model.District.DistrictName;}
                                    <span id="spanDistrictName">@districtName</span>
                                    <input type="hidden" id="cityCode" value="@cityCode"/>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="container-fluid" style="margin-bottom: 10px;">
                                    <div class="row-fluid" style="margin-top: 0;">
                                        <div class="span12">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div style="padding: 10px; border: 1px solid #ccc;">
                                                        <div id="map_canvas">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="nopadding">
                                                        <div class="control-group">
                                                            <label class="control-label">
                                                                经度：</label>
                                                            <div class="controls">
                                                                @Html.TextBoxFor(m => m.Latitude, new { type = "text", @id = "txtLatitude" })
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">
                                                                纬度：</label>
                                                            <div class="controls">
                                                                @Html.TextBoxFor(m => m.Longitude, new { type = "text", @id = "txtLongitude" })
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">
                                                                景区：</label>
                                                            <div id="divScenic" class="controls">
                                                                @*<select id="selectScenic" multiple>
                                                                </select>*@
                                                                <input id="selectScenic" class="span9" />
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">
                                                                主题：</label>
                                                            <div class="controls">
                                                                @*<input class="span9" type="text" value="" placeholder="主题暂无数据可绑定">*@
                                                                <input id="selectTheme" class="span9" />
                                                            </div>
                                                        </div>
                                                        <div class="control-group">
                                                            <label class="control-label">
                                                                地址：</label>
                                                            <div class="controls">
                                                                @Html.TextBoxFor(m => m.Address, new { type = "text", @class = "span9", @id = "txtAddress" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-container-449303" class="modal hide fade" role="dialog" aria-labelledby="editPositionModal"
                    aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×</button>
                        <h3 id="myModalLabel">
                            选择客户省市区信息
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="row-fluid" style="height: 120px;">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span3">
                                        @Html.HiddenFor(m => m.AreaId, new { @id = "hidAid", @Value = Model.AreaId.GetValueOrDefault(0) })
                                        <select name="areaId" id="selectArea">
                                            <option value="0">请选择大区</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        @Html.HiddenFor(m => m.ProvinceId, new { @id = "hidPid", @Value = Model.ProvinceId.GetValueOrDefault(0) })
                                        <select name="provinceId" id="selectProvince">
                                            <option value="0">请选择省份</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        @Html.HiddenFor(m => m.CityId, new { @id = "hidCid", @Value = Model.CityId.GetValueOrDefault(0) })
                                        <select name="cityId" id="selectCity">
                                            <option value="0">请选择城市</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        @Html.HiddenFor(m => m.DistrictId, new { @id = "hidDid", @Value = Model.DistrictId.GetValueOrDefault(0) })
                                        <select name="disrtictId" id="selectDistict" class="required">
                                            <option value="0">请选区</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnSaveEditPosition" type="button" value="确定" class="btn btn-success" />
                        <span style="margin-left: 20px;"></span>
                        <input type="button" class="btn" data-dismiss="modal" value="取消" />
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 0;">
                    <button class="btn btn-success" type="submit">
                        保存</button>
                </div>
            }
        </div>
        <div id="tab2" class="tab-pane">
            <div class="container-fluid nopadding form-horizontal">
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-paste"></i>&nbsp;&nbsp;标题信息</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a id="btnSaveTitleInfo" class="btn btn-success btn-mini">保存编辑</a> <span>&nbsp;&nbsp;
                                    </span>
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="control-group">
                                    <label class="control-label">
                                        套餐标题 :</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(m => m.ResortInfo.MainTitle, new { @id = "txtMainTitla", @class = "span11", placeholder = "请输入套餐标题" })
                                        @*<input id="txtMainTitla" type="text" class="span11" placeholder="请输入套餐标题">*@
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        套餐长标题 :</label>
                                    <div class="controls">
                                        @*<input id="txtSubTitle" type="text" class="span11" placeholder="请输入套餐简介长标题">*@
                                        @Html.TextBoxFor(m => m.ResortInfo.Subtitle, new { @id = "txtSubTitle", @class = "span11", placeholder = "请输入套餐简介长标题" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        移动端标题 :</label>
                                    <div class="controls">
                                        @*<input id="txtAppMainTitle" type="text" class="span11" placeholder="请输入移动端套餐标题">*@
                                        @Html.TextBoxFor(m => m.ResortInfo.AppMainTitle, new { @id = "txtAppMainTitle", @class = "span11", placeholder = "请输入移动端套餐标题" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        移动端长标题 :</label>
                                    <div class="controls">
                                        @*<input id="txtAppSubTitle" type="text" class="span11" placeholder="请输入移动端套餐简介长标题">*@
                                        @Html.TextBoxFor(m => m.ResortInfo.AppSubTitle, new { @id = "txtAppSubTitle", @class = "span11", placeholder = "请输入移动端套餐简介长标题" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid nopadding">
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-eye-open"></i>&nbsp;&nbsp;套餐包含</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a edittype="1" id="btnSavePackageDetail" class="btn btn-success btn-mini btnSaveEditor">
                                        保存编辑</a> <span>&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                @*<textarea rows="30" cols="50" name="editor01"></textarea>*@
                                @Html.TextAreaFor(m => m.ResortInfo.PackageDetail, new { @id = "txtDesc", @Text = Model.ResortInfo.PackageDetail })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-bullhorn"></i>&nbsp;&nbsp;购买须知</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a edittype="2" id="btnSaveBookNote" class="btn btn-success btn-mini btnSaveEditor">
                                        保存编辑</a> <span>&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                @*<textarea rows="30" cols="50" name="editor02"></textarea>*@
                                @Html.TextAreaFor(m => m.ResortInfo.BookNotice, new { @id = "txtBookNote" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-book"></i>&nbsp;&nbsp;商家信息</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a edittype="3" id="btnSaveVendorInfo" class="btn btn-success btn-mini btnSaveEditor">
                                        保存编辑</a> <span>&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                @*<textarea rows="30" cols="50" name="editor03"></textarea>*@
                                @Html.TextAreaFor(m => m.ResortInfo.VendorInfo, new { @id = "txtVendorInfo" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-comment"></i>&nbsp;&nbsp;要出发记者点评(172x65)</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a edittype="4" id="btnSaveYcfComment" class="btn btn-success btn-mini btnSaveEditor">
                                        保存编辑</a> <span>&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                @*<textarea rows="30" cols="50" name="editor04"></textarea>*@
                                @Html.TextAreaFor(m => m.ResortInfo.YcfComment, new { @id = "txtYcfComment" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-calendar"></i>&nbsp;&nbsp;推荐行程</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a edittype="5" id="btnSaveTrip" class="btn btn-success btn-mini btnSaveEditor">保存编辑</a>
                                    <span>&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                @*<textarea rows="30" cols="50" name="editor05"></textarea>*@
                                @Html.TextAreaFor(m => m.ResortInfo.RecommendTrip, new { @id = "txtRecommendTrip" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid" style="margin-top: 0;">
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-truck"></i>&nbsp;&nbsp;交通指南</span>
                                <div class="buttons-left" style="margin-left: 5px;">
                                    <a edittype="6" id="btnSaveTraffic" class="btn btn-success btn-mini btnSaveEditor">保存编辑</a>
                                    <span>&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <div class="widget-content nopadding">
                                @*<textarea rows="30" cols="50" name="editor06"></textarea>*@
                                @Html.TextAreaFor(m => (m.ResortInfo.TrafficGuide), new { @id = "txtTrafficGuide" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab3" class="tab-pane">
            <div class="row-fluid" style="margin-top: 0;">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-camera"></i>&nbsp;&nbsp;首页轮播图(960x400)</span>
                            <div class="buttons-left" style="margin-left: 5px;">
                                <a id="btnSaveBroad" class="btn btn-success btn-mini">保存排序</a> <span>&nbsp;&nbsp;
                                </span>
                            </div>
                        </div>
                        <div class="widget-content">
                            <ul id="divBroadcasting" class="thumbnails">
                            </ul>
                            <input type="file" id="file_upload" name="file_upload" />
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-picture"></i>&nbsp;&nbsp;列表图(466x194)</span>
                            <div id="btnSaveList" class="buttons-left" style="margin-left: 5px;">
                                <a class="btn btn-success btn-mini">保存排序</a> <span>&nbsp;&nbsp; </span>
                            </div>
                        </div>
                        <div class="widget-content">
                            <ul id="divPictureList" class="thumbnails">
                            </ul>
                            <input type="file" id="file_upload_list" name="file_upload_list" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab4" class="tab-pane active">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-user"></i></span>
                    <h5>
                        房型列表</h5>
                </div>
                <div id="divTable" style="height: 500px;" class="widget-content nopadding">
                    <table style="width: 100%; height: 100%;" id="tbRoomList">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section headSection
{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/map/BGeo.js")"></script>
    <link href="@Url.Content("~/Scripts/uploadify-v3.1/uploadify.css")" rel="stylesheet" type="text/css" />
}
@section footSection
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/resort/productManger.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/resort/jquery.sortable.js")"></script>
    <script src="@Url.Content("~/Scripts/uploadify-v3.1/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
}
