<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/uniform-select2.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/ycf.style.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/fullcalendar.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/ycf.easyui-grid.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/ycf.gritter-jqplot.min.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/ycf.datepicker.min.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    @RenderSection("headSection", false)
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet'
        type='text/css' />
</head>
<body>
    <!--Header-part-->
    <div id="header_nav">
        <div id="header">
            <h1>
                <a href="/">要出发CRM</a>
            </h1>
        </div>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown"
                   data-target="#profile-messages" class="dropdown-toggle">
                    <i class="icon icon-user">
                    </i>
                    <span id="welcome_msg" class="text">Welcome Jary</span> 
                    <input type="hidden" id="hidAdminUserId" />
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i>我的信息</a></li>
                    @*<li class="divider"></li>
                    <li><a href="/Task"><i class="icon-check"></i>我的任务</a></li>*@
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="icon-key"></i>退出</a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages"
                class="dropdown-toggle"><i class="icon icon-envelope"></i><span class="text">&nbsp;我的任务</span>
                <span class="label label-important" id="MyTaskCount" style="display: none;">...</span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sInbox" title="" href="/Task"><i class="icon-envelope"></i>我的任务 </a>
                    </li>
                    <li class="divider"></li>
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i>添加新任务 </a></li>
                </ul>
            </li>
            <li class=""><a title="" href="#"><i class="icon icon-cog"></i><span class="text">&nbsp;设置</span>
            </a></li>
            <li id="li_logout" class=""><a title="" href="javascript:void(0)"><i class="icon icon-share-alt">
            </i><span class="text">&nbsp;退出</span> </a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i>下拉菜单 </a>
        <ul id="MainMenu">
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb">
            </div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!--end-main-container-part-->
    <!--start modal-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h3 id="myModalLabel">
                操作提示</h3>
        </div>
        <div class="modal-body">
            <p>
                操作成功！</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
                关闭</button>
        </div>
    </div>
    <!--end modal-->
    <!--start task modal-->
    <div id="modal-showTask" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h3 id="modal-showTask-title">
                任务详情
            </h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("AddFollowLogAndEditTask", "FollowLog", FormMethod.Post, new { @class = "form-horizontal", @id = "followLogAndTaskForm", @novalidate = "novalidate", @name = "followLogAndTask" }))
            {               
                <div class="widget-box">
                    <div class="widget-content nopadding collapse in" id="collapseG2">
                        <ul class="recent-posts" style="padding-top: 10px;">
                            <li>
                                <input type="hidden" value="" name="taskId" id="currentTaskId" />
                                <input type="hidden" value="" name="supplierId" id="currentSupplierId" />
                                <div class="user-thumb" style="height: 200px; width: 32px; margin-top: 0; padding: 0;">
                                    <img width="32" height="32" alt="User" src="../Content/images/envelope.png">
                                </div>
                                <div class="pull-right">
                                    <a class="tip-bottom" id="EditTask" href="javascript:void(0);" title="编辑任务"><i class="icon-pencil">
                                    </i></a><a class="tip-bottom" id="FlagTask" href="javascript:void(0);" title="标为重要">
                                        <i class="icon-flag"></i></a><a class="tip-bottom" id="CancelTask" href="javascript:void(0);"
                                            title="不再提醒"><i class="icon-remove"></i></a>
                                </div>
                                <div class="article-post">
                                    <span id="lbTaskTitle" class="user-info"></span>
                                    <p>
                                        <span class="user-info" id="spanSupplierInfo"></span>
                                        <br />
                                        <span class="user-info" id="spanTimeDiff"></span>
                                        <br />
                                        <a id="lbTaskContent" href="#"></a>
                                    </p>
                                </div>
                                <div id="TaskEditInfo" style="margin-bottom: 15px; display: none;">
                                    <div>
                                        <div class="input-append date" id="divTaskStartDate" name="start" data-date="" data-date-format="yyyy/mm/dd">
                                            <input style="width: 170px;" id="taskStartDate" name="start" type="text" value=""
                                                placeholder="开始时间" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                        <span style="margin-right: 15px;"></span>
                                        <div class="input-append date" id="divTaskEndDate" name="end" data-date="" data-date-format="yyyy/mm/dd">
                                            <input style="width: 170px;" id="taskEndDate" name="end" type="text" value="" placeholder="结束时间" />
                                            <span class="add-on"><i class="icon-th"></i></span>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <textarea id="editTaskContent" name="editTaskContent" style="width: 428px;" cols="80"></textarea>
                                    </div>
                                </div>
                                <div id="TaskEditPanel" style="width: 91%; border: 1px solid #cdcdcd; float: left;
                                    display: none;">
                                    <div class="widget-box">
                                        <div class="widget-title bg_ly">
                                            <span class="icon"><i class="icon-pencil"></i></span>
                                            <h5>
                                                跟进记录</h5>
                                        </div>
                                        <div class="widget-content nopadding collapse in" id="collapseG23">
                                            <ul class="recent-posts">
                                                <li>
                                                    <div class="user-thumb" style="width: 60px;">
                                                        任务状态
                                                    </div>
                                                    <div class="article-post" style="padding-bottom: 11px;">
                                                        <select name="taskState" id="taskState" style="width: 272px;">
                                                            <option value="0" selected="selected">请选择任务状态</option>
                                                            <option value="2">已阅</option>
                                                            <option value="5">完成</option>
                                                            <option value="4">取消</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="user-thumb" style="width: 60px;">
                                                        拜访记录
                                                    </div>
                                                    <div class="article-post" style="padding-bottom: 10px;">
                                                        <input type="text" name="followName" class="span3" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="user-thumb" style="width: 60px;">
                                                        跟进状态
                                                    </div>
                                                    <div class="article-post" style="padding-bottom: 11px;">
                                                        <select name="followState" id="taskFollowLogState" style="width: 272px;">
                                                            <option value="0" selected="selected">请选择跟进状态</option>
                                                        </select>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="user-thumb" style="width: 60px;">
                                                        详细备注
                                                    </div>
                                                    <div class="article-post">
                                                        <textarea name="remark" class="span3"></textarea>
                                                    </div>
                                                </li>
                                                <li>
                                                    <button id="btnEditTaskSave" type="submit" class="btn btn-success btn-mini">
                                                        确定</button>
                                                    <span style="margin-left: 10px;"></span>
                                                    <button type="button" id="btnCancelEditTask" class="btn btn-mini">
                                                        取消</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">
                关闭</button>
        </div>
    </div>
    <!--end task modal-->
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12">
            2013 &copy; Three Zone. Brought to you by <a href="http://www.cnblogs.com/three-zone">
                三度空间</a>
        </div>
    </div>
    <!--end-Footer-part-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easyui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/matrix.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.gritter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.uniform.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Jquery.Query.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/matrix.form_validation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/message.cn.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/date.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ycf.crm.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/wind/wind-core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/wind/wind-compiler.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/wind/wind-builderbase.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/wind/wind-async.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ycf.async.task.min.js")"></script>
    @RenderSection("footSection", false)
    <script type="text/javascript">
        $('#li_logout').click(function () {
            ycf_crm.logout(null, function (data) {
                if (data.State == 'success') {
                    document.location.href = '/Account';
                }
            }, function (e) {
                console.log(e);
            });
        });
    </script>
</body>
</html>
