@{
    ViewBag.Title = "任务列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using YCF.CRM.Model.Entity
@using YCF.CRM.DAO.Abstract
@using YCF.CRM.DAO.Concrete
@using YCF.CRM.DAO.Utilities
@model YCF.CRM.Model.Entity.TaskInfo
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            @using (@Html.BeginForm("SaveOrUpdateTask", "Task", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate", @novalidate = "novalidate", @name = "basic_validate" }))
            {
                <div class="widget-box widget-calendar">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-calendar"></i></span>
                        <h5>
                            任务列表</h5>
                        <div class="buttons">
                            <a id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-inverse btn-mini">
                                <i class="icon-plus icon-white"></i>&nbsp;&nbsp;&nbsp;添加新任务</a>
                            <div class="modal hide" id="modal-add-event">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×</button>
                                    <h3>
                                        添加新任务</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="widget-box">
                                        <div class="widget-content nopadding">
                                            <div class="control-group">
                                                <label class="control-label">
                                                    任务标题</label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(m => m.Title, new { @class = "span7 required", @type = "text" })
                                                </div>
                                            </div>
                                            <div class="control-group" style="padding-bottom: 10px;">
                                                <label class="control-label">
                                                    开始时间</label>
                                                <div class="controls">
                                                    <div class="input-append date span9" id="startDate" name="start" data-date="">
                                                        @Html.TextBoxFor(m => m.StartTime, new { @class = "span8", @type = "text", @value = "", @placeholder = "开始时间", @readonly = "readonly" })
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group" style="padding-bottom: 10px;">
                                                <label class="control-label">
                                                    结束时间</label>
                                                <div class="controls">
                                                    <div class="input-append date span9" id="endDate" name="end" data-date="">
                                                        @Html.TextBoxFor(m => m.EndTime, new { @class = "span8", @type = "text", @value = "", @placeholder = "结束时间", @readonly = "readonly" })
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="control-group" style="padding-bottom: 10px;">
                                                <label class="control-label">
                                                    提醒类型</label>
                                                <div class="controls">
                                                    @{
                                                       List<SelectListItem> items = new List<SelectListItem>();
                                                       items.Add(new SelectListItem { Text = "不提醒", Value = "0" });
                                                       items.Add(new SelectListItem { Text = "弹框提醒", Value = "1" });
                                                       items.Add(new SelectListItem { Text = "邮件提醒", Value = "2" });
                                                       items.Add(new SelectListItem { Text = "弹框+邮件提醒", Value = "3" });
                                                       this.ViewData["list"] = items;
                                                    }
                                                    @Html.DropDownListFor(m => m.RemindType, items, new { @class = "span7" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    间隔时间</label>
                                                <div class="controls">
                                                    @Html.TextBoxFor(m => m.RemindMins, new { @class = "span7 number", @type = "text", @laceholder = "提醒间隔的时间数（分钟）" })
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">
                                                    任务内容</label>
                                                <div class="controls">
                                                    @Html.TextAreaFor(m => m.Content, new { @class = "span7" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" id="add-event-submit" value="添加" class="btn btn-success" />
                                    <span style="margin-left: 20px;"></span>
                                    <input type="button" class="btn" data-dismiss="modal" value="取消" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="panel-left">
                            <div id="fullcalendar">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section footSection
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/task/index.js")"></script>
}
