@using DUOJU.Domain.Enums
@using DUOJU.Domain.Extensions
@model DUOJU.WECHAT.Models.Party.ViewPartyViewModel

@{
    ViewBag.Title = "ViewParty";
}

@if (Model.PartyInfo != null && Model.PartyInfo.PartyId.HasValue)
{
    <fieldset>
        <legend>客户信息</legend>
        <div>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        </div>
    </fieldset>

    <fieldset>
        <legend>聚会信息</legend>

        <dl>
            <dt>InitiatorName 发起者</dt>
            <dd>@Model.PartyInfo.InitiatorName</dd>
            <dt>HoldDate 具体日期</dt>
            <dd>@Model.PartyInfo.HoldDate.ToString("yyyy-MM-dd")</dd>
            <dt>HoldTime 具体时间段</dt>
            <dd>@Model.PartyInfo.EHoldTime.ToLocalize()</dd>
            <dt>Description 说明</dt>
            <dd>@Model.PartyInfo.Description</dd>
            <dt>MinIntoForce 最少人数</dt>
            <dd>@Model.PartyInfo.MinIntoForce</dd>
            <dt>MaxIntoForce 最多人数</dt>
            <dd>@(Model.PartyInfo.MaxIntoForce.HasValue ? @Model.PartyInfo.MaxIntoForce.Value.ToString() : "无限制")</dd>
            <dt>Status 状态</dt>
            <dd>@Model.PartyInfo.EStatus.ToLocalize()</dd>
        </dl>

        <hr />
        @{ var isFulled = Model.PartyInfo.EStatus == PartyStatuses.FULLED; }
        <h4>已报名：@(Model.PartyInfo.PartyParticipantInfos.Count(i => i.EStatus == PartyParticipantStatuses.PARTICIPATED))人@(isFulled ? "，已满额！" : string.Empty)</h4>

        @foreach (var info in Model.PartyInfo.PartyParticipantInfos)
        {
            <p>@info.ParticipantId - @info.ParticipantName</p>
        }

        @if (isFulled)
        {
                <p>已满额！</p>
        }
        else
        {
            if (Model.IsReturn && Model.ParticipantId.HasValue)
            {
                <p>您已成功报名！</p>
            }
            else
            {
                <p>
                    <button type="button" onclick="Registrat()">报名</button>
                    <script>
                        var Registrat = function () {
                            location.href = "";
                        }
                    </script>
                </p>
            }
        }
    </fieldset>
}