@using DUOJU.Domain.Enums
@using DUOJU.Domain.Extensions
@using DUOJU.FRAMEWORK.WeChat
@using DUOJU.WECHAT.Sys.Helpers
@model DUOJU.WECHAT.Models.Party.ViewPartyViewModel

@{
    ViewBag.Title = "ViewParty";
}

@if (Model.PartyInfo != null && Model.PartyInfo.PartyId.HasValue)
{
    if (Model.IsCreate)
    {
        <h4>发布成功！</h4>
    }

    if (Model.PartyInfo.SupplierInfo != null)
    {
        <fieldset>
            <legend>客户信息</legend>
            <div>
                xxx xx xxx xxxxx xxxx xxx xx xxx xxx xxx xxxxx xx xxx xx xx xxxx x xxx xx xx xxxx xx
            </div>
        </fieldset>
    }

    <fieldset>
        <legend>聚会信息</legend>

        <dl>
            <dt>InitiatorName 发起者</dt>
            <dd>@Model.PartyInfo.InitiatorName</dd>
            <dt>HoldDate 具体日期</dt>
            <dd>@Model.PartyInfo.HoldDate.ToString("yyyy-MM-dd")</dd>
            <dt>HoldTime 具体时间段</dt>
            <dd>@Model.PartyInfo.EHoldTime.ToLocalize()</dd>
            <dt>Description 说明</dt>
            <dd>@Model.PartyInfo.Description</dd>
            <dt>MinIntoForce 最少人数</dt>
            <dd>@Model.PartyInfo.MinIntoForce</dd>
            <dt>MaxIntoForce 最多人数</dt>
            <dd>@(Model.PartyInfo.MaxIntoForce.HasValue ? @Model.PartyInfo.MaxIntoForce.Value.ToString() : "无限制")</dd>
            <dt>Status 状态</dt>
            <dd>@Model.PartyInfo.EStatus.ToLocalize()</dd>
        </dl>

        <hr />
        <h4>已报名：@(Model.PartyInfo.PartyParticipantInfos.Count(i => i.EStatus == PartyParticipantStatuses.PARTICIPATED))人</h4>

        @foreach (var info in Model.PartyInfo.PartyParticipantInfos)
        {
            <p>@info.ParticipantId - @info.ParticipantName</p>
        }

        @if (Model.IsReturn)
        {
            <p>您已成功报名！</p>
        }
        else
        {
            if (Model.PartyInfo.EStatus == PartyStatuses.FULLED)
            {
                <p>已满额！</p>
            }
            else if (Model.PartyInfo.EStatus == PartyStatuses.PUBLISHED)
            {
                <p>
                    <a href="@WeChatHelper.WeChat.ConvertOAuthUrl("http://wechat.duoju.us/Party/ParticipateParty/" + Model.PartyInfo.PartyId, OauthScopes.SNSAPI_BASE, null)">报名</a>
                </p>
            }
            else if (Model.PartyInfo.EStatus == PartyStatuses.CONSUMED)
            {
                if (Model.PartyInfo.PartyCommentInfos != null && Model.PartyInfo.PartyCommentInfos.Count > 0)
                {
                    foreach (var info in Model.PartyInfo.PartyCommentInfos)
                    {
                    }
                }
            }
        }
    </fieldset>
}