@{
    ViewBag.Title = "跟进记录详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using YCF.CRM.Model.Entity
@using YCF.CRM.DAO.Abstract
@using YCF.CRM.DAO.Concrete
@using YCF.CRM.DAO.Utilities
@model YCF.CRM.Models.FollowLogModel
           
@using (Html.BeginForm("SaveOrUpdateFollowLog", "FollowLog", FormMethod.Post, new { @class = "form-horizontal", @id = "basic_validate", @novalidate = "novalidate", @name = "basic_validate" }))
{
    @Html.HiddenFor(m => m.SupInfo.SupplierId, new { @id = "SupplierId" })
    @Html.HiddenFor(m => m.FLogInfo.FollowLogId, new { @id = "FollowLogId" })
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-pencil"></i></span>
                        <h5>拜访记录</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <label class="control-label">被访客户</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.SupInfo.SupplierName, new { @readonly = "readonly", @class = "span9" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">拜访记录</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.FLogInfo.FollowName, new { @class = "required span9" })
                            </div>
                        </div>
                        <div class="control-group"  style="padding-bottom:10px;">
                            <label class="control-label">跟进进度</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.FLogInfo.FollowState, new SelectList(Model.FStateList, "StateId", "State", Model.FLogInfo.FollowState), "—请选择—", new { id = "followStateGroup", @value = "0", @class = "span9" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">详细备注</label>
                            <div class="controls">
                                @Html.TextAreaFor(m => m.FLogInfo.Remark, new { @class = "span9" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="保存" class="btn btn-success">
                            <span style="margin-left: 20px;"></span>
                            <input type="button" id="btnCancel" value="取消" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section footSection
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/followlog/followDetial.js")"></script>
}
